.root{
    -fx-background-color: white;
}
.button{
    -fx-font-weight: bold;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}
.combo-box{
    -fx-font-weight: bold;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-cursor: hand;  
}
.text-field{
    -fx-font-weight: bold;
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-cursor: hand;  
}